# python3 -m venv .venv
# source .venv/bin/activate
# python -m pip install --upgrade pip
# python -m pip install -r requirements.txt --timeout 120

torch
numpy
pandas
torchinfo
matplotlib
jupyter
nbconvert